<template>
  <view class="container">
    <status-bar />
    <AppHeader name="my todo app" />
    <TodoApp />
  </view>
</template>

<script>
import AppHeader from "./components/AppHeader";
import TodoApp from "./components/Todos/Layout";
export default {
  components: {
    AppHeader,
    TodoApp
  }
};
</script>

<style>
.container {
  background-color: #ffe;
  flex: 1;
}
</style>
