<template>
  <view class="app-header">
    <text :style="{fontWeight: 'bold', color: '#ffe', textTransform: 'uppercase'}">{{name}}</text>
  </view>
</template>

<script>
export default {
  props: ["name"]
};
</script>

<style scoped>
.app-header {
  min-height: 50px;
  background-color: darkblue;
  align-items: center;
  justify-content: center;
}
</style>