<template>
  <view :style="{marginTop: 5}">
    <view>
      <text-input v-model="item" class="todo-input" />
      <text v-if="error" :style="{fontSize: 12, color: 'red', marginTop: 5}">Please Enter Text</text>
    </view>
    <view :style="{marginTop: 15}">
      <button title="save" :on-press="save" />
    </view>
  </view>
</template>

<script>
import Bus from "../../bus";
export default {
  data: () => {
    return {
      item: "",
      error: false
    };
  },
  methods: {
    save() {
      if (!this.item.length) {
        this.error = true;
        setTimeout(() => {
          this.error = false;
        }, 1000);
        return;
      }
      let item = {
        id: Date.now(),
        item: this.item
      };
      Bus.$emit("item:created", item);
      this.item = "";
    }
  }
};
</script>

<style scoped>
.todo-input {
  border-bottom-width: 1;
  border-bottom-color: #ddd;
}
</style>