<template>
  <view class="todo-app">
    <CreateForm />
    <TodoList :items="items" />
  </view>
</template>

<script>
import Bus from "../../bus";
import CreateForm from "./CreateForm";
import TodoList from "./TodoList";
export default {
  components: {
    CreateForm,
    TodoList
  },
  data() {
    return {
      items: []
    };
  },
  mounted() {
    console.log(this.items);

    Bus.$on("item:selected", id => {
      this.removeItem(id);
    });
    Bus.$on("item:created", item => {
      this.saveItem(item);
    });
  },
  methods: {
    removeItem(id) {
      this.items = this.items.filter(i => i.id !== id);
    },
    saveItem(item) {
      this.items.push(item);
    }
  }
};
</script>

<style scoped>
.todo-app {
  margin: 10px;
  flex: 1;
}
</style>