<template>
  <touchable-opacity :on-press="selected.bind(this, item.id)">
    <view class="list-item">
      <text :style="{textTransform: 'capitalize'}">{{item.item}}</text>
    </view>
  </touchable-opacity>
</template>

<script>
import Bus from "../../bus";
export default {
  props: ["item"],
  methods: {
    selected(id) {
      Bus.$emit("item:selected", id);
    }
  }
};
</script>

<style scoped>
.list-item {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom-width: 1;
  border-bottom-color: #dddddd;
}
</style>