<template>
  <view class="list-items">
    <text v-if="!items.length" :style="{textAlign:'center'}">No Data Available</text>
    <flat-list
      v-else
      :data="items"
      :render-item="({item}) => renderItems(item)"
      :key-extractor="(item, index) => index.toString()"
    />
  </view>
</template>

<script>
import React from "react";
import ListItem from "./ListItem";
export default {
  props: ["items"],
  methods: {
    renderItems(item) {
      return <ListItem item={item} />;
    }
  }
};
</script>

<style scoped>
.list-items {
  margin-top: 15px;
}
</style>